.footer{
    /*width: 100%;*/
    background-color: bisque;
    /*min-height: 100px;*/
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    /*position: fixed;*/
    /*position: relative;*/
    /*bottom: 0;*/
    /*left:0;*/
}

.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    min-height: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
.menu ul{
    display: block;
    padding-left: 0;
    margin: 0px;
}
.menu ul li{
    display: inline-block;
}

.menu ul li a{
    color: white;
    padding: 5px 20px;
    display: inline-block;
}

.menu ul li a:hover{
    background-color: burlywood;
}

.menu ul li.active{
    background-color: burlywood;
    color: black;
}
.menu ul li.active a{
    color: #000;
}

.content{
    margin:auto;
    margin-top: 50px;
    max-width: 800px;
    min-height: calc(100vh - 170px);
}

.com{
    width: 80%;
    background-color: rgba(210,210,210, 0.1);
    float: right;
}
.h{
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #2ecc71;
    text-align: center;
}

.edit_coment input{
    display: none;
}

.buttons form{
    display: flex;
}
.buttons{
    width: 100%;
    display: flex;
}